.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.favorite{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.no-favorites-container {
  font-weight: 100;
  font-family: sans-serif;
  font-size:20px;
  color: #dcaa19;
  margin-top: 40px;
  margin-bottom: 10px;
}
