.movie-details{
  width:100%;
  font-family: sans-serif;
  font-weight: 100;
  max-width: 750px;
  margin: 5px auto;
  padding-bottom: 20px;
}

.movie-details-img{
  border-radius: 15px;
  width:300px;
  box-shadow: 1px 1px 1px #dcaa19;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.movie-details-overview{
  width:80%;
  margin: 5px auto;
}

.movie-details-category{
  color: #dcaa19;
}

.bottom {
}

.movie-details-info-container{
  display: flex;
  width: 35%;
  margin: 0px auto;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 20px;
}

#movie-details-overview{
  font-size: 18px;
}

.movie-details-info-container p {
  margin-top: 0;
  margin-bottom: 2px;
}
