.not-favorite, .favorite{
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border: 15px solid black;
}


.favorite {
background-color: red
}

.not-favorite{
background-color: black;
}

.not-favorite img, .favorite img {
  height:300px;
  width: 300px;
}
