
.not-favorite, .favorite{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.not-favorite {
  background-color: rgba(0, 0, 0, 0.3);
}

.favorite {
  background-color: #dcaa19;
}

.movie-image {
  height:300px;
  width: 300px;
  opacity:.85;
  border-radius: 5px;
}

.not-favorite img:hover , .favorite img:hover{
  opacity: 1;
  border-radius: 14px;
  transition: all .3s;
}

.button-favorite {
  background-color: #3c3a3a;
  color: white;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.button-not-favorite {
  border: none;
  margin-top: 10px;
  background-color: #dcaa19;
  border-radius: 5px;

}

.button-favorite,
.button-not-favorite {
  height: 30px;
  font-size: 17px;
  font-weight:100;
}

.button-favorite:hover, .button-not-favorite:hover {
  box-shadow: 0 0 1px 1px white;
  -moz-box-shadow: 0 0 1px 1px white;
  -webkit-box-shadow: 0 0 1px 1px white;
  border-radius: 5px;
}

.button-not-favorite:hover{
  color:#fff;
  transition: all .6s;

}

.button-favorite:hover{
 color: #dcaa19;
 transition: all .6s;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

/*.star-img{
  background-size: cover;
  width: 10px;
  height:10px;
  }*/
